@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.flex-1 a:hover{
  background-color: transparent;
  color: blue;
}

body {
  background-color: whitesmoke;
}

.konten {
  margin:auto;
  width: 950px;
  background-color: white;
  border: solid 1.5px darkgrey;
}

.container{
  margin: auto;
  width: 880px;
  /* margin-left: 0px; */
}

.block{
  /* height: ; */
  width: 825px;
  margin: auto;
}


.card{
    transition: transform 0.2s;
  }

.card:hover {
    transform: scale(1.02);
  }

.carousel-slide {
    display: none;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
    display: block;
    opacity: 1;
}